<div class="row" style="margin-top: 0;" ng-controller="EditUserController">

    <div ng-if="user">
        <div class="col-md-6 col-md-offset-3 col-xs-12 page-header">
            <h2>{{'ui.update.manage'|transl8}}</h2>
        </div>

        <div class="col-md-6 col-md-offset-3 col-xs-12 well" ng-hide="success">

            <form novalidate show-validation class="form-horizontal register-form" role="form" ng-keyup="dataChanged()">

                <div class="form-group">
                    <label class="col-sm-4 control-label">{{'ui_username'|transl8}}*</label>
                    <div class="col-sm-8">
                        <input required type="text" class="form-control" placeholder="{{'ui_username'|transl8}}"
                            ng-model="user.username" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Name*</label>
                    <div class="col-sm-4">
                        <input required type="text" class="form-control" placeholder="{{'ui_first_name'|transl8}}"
                            ng-model="user.firstname">
                    </div>
                    <div class="col-sm-4">
                        <input required type="text" class="form-control" placeholder="{{'ui_surname'|transl8}}"
                            ng-model="user.lastname">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">eMail*</label>
                    <div class="col-sm-8">
                        <input required type="email" class="form-control" placeholder="eMail" ng-model="user.email">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-4">
                        <input required type="email" class="form-control" placeholder="{{'ui_repeat'|transl8}}"
                            ng-model="user.emailValidation">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Institution</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Institution" ng-model="user.institution">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="user.iAmHuman" ng-true-value="'humanIAm'">
                                {{'ui_nomachine'|transl8}}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" ng-click="submit()"
                            class="btn btn-primary">{{'ui.update.perform'|transl8}}
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <a href="pwdchange">{{'ui_pwdchange'|transl8}}</a>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>