<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p[%d{DATE}]: %c - %m%n" />
        </Console>
        <RollingFile name="Profile"
                     fileName="./logs/profile.log"
                     filePattern="./logs/profile-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%-5p[%d{DATE}]: %c - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10240KB" />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="./logs/">
                    <IfFileName glob="profile-*.log" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="DataIntegrity"
                     fileName="./logs/data_integrity.log"
                     filePattern="./logs/data_integrity-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%-5p[%d{DATE}]: %c - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10240KB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
        <RollingFile name="DataExport"
                     fileName="./logs/data_export.log"
                     filePattern="./logs/data_export-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%-5p[%d{DATE}]: %c - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10240KB" />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="./logs/">
                    <IfFileName glob="data_export-*.log" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="IIPService"
                     fileName="./logs/iip_service.log"
                     filePattern="./logs/iip_service-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%-5p[%d{DATE}]: %c - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10240KB" />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="./logs/">
                    <IfFileName glob="iip_service-*.log" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="UserManagement"
		             fileName="./logs/user_management.log"
                     filePattern="./logs/user_management-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%-5p[%d{DATE}]: %c - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10240KB" />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="./logs/">
                    <IfFileName glob="user_management-*.log" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>

        <logger name="org.springframework.web" level="info" />

        <logger name="de.uni_koeln.arachne" level="info" />
        <logger name="de.uni_koeln.arachne.controller" level="info" />
        <logger name="de.uni_koeln.arachne.service" level="debug" />
        <logger name="de.uni_koeln.arachne.dao" level="debug" />

        <logger name="org.elasticsearch" level="info" />
        <logger name="com.zaxxer.hikari" level="info" />

        <Root level="info">
	        <AppenderRef ref="CONSOLE" />
        </Root>

        <Logger name="Profiling" additivity="false">
            <AppenderRef ref="Profile" />
        </Logger>
        <Logger name="DataIntegrityLogger" additivity="false">
            <AppenderRef ref="DataIntegrity" />
        </Logger>
        <logger name="DataExportLogger" level="info" additivity="false">
            <AppenderRef ref="DataExport" />
        </logger>

        <logger name="de.uni_koeln.arachne.service.IIPService" level="debug" additivity="false">
            <AppenderRef ref="CONSOLE" />
        </logger>

        <logger name="de.uni_koeln.arachne.controller.UserManagementController" level="info" additivity="false">
            <AppenderRef ref="UserManagement" />
        </logger>

    </Loggers>
</Configuration>
