# Set as required by the cephfs directories
UID=
GID=

# use 'stable' for production deployment
ARACHNE_FRONTEND_IMAGE_VERSION=main
ARACHNE_BACKEND_IMAGE_VERSION=main
IMAGE_SERVER_VERSION=latest
ELASTIC_SEARCH_VERSION=latest

DB_ROOT_PASSWORD=
DB_PASSWORD=

SMTP_USER_NAME=
SMTP_USER_PASSWORD=

SERVER_ADDRESS=
HOST_NAME=
ARCHAEOCLOUD_PATH=/mnt/idai_objects_published/

AIAX_VERSION=latest
AIAX_DATA_DIR=./aiax-data

HAC_VIA_KEY_BASE=
HAC_VIA_ARCHIVE_DIR=
HAC_VIA_PREVIEW_DIR=
HAC_VIA_STAGING_DIR=
HAC_VIA_TAPE_DIR=
