UID=
GID=

# use 'stable' for production deployment
ARACHNE_FRONTEND_IMAGE_VERSION=main
ARACHNE_BACKEND_IMAGE_VERSION=main
IMAGE_SERVER_VERSION=latest
ELASTIC_SEARCH_VERSION=latest

DB_ROOT_PASSWORD=
DB_PASSWORD=

SMTP_USER_NAME=
SMTP_USER_PASSWORD=

SERVER_ADDRESS=
HOST_NAME=
ARCHAEOCLOUD_PATH=./idai_objects_published/
ARACHNE4_IMAGE_CACHE_PATH=./arachne4ImageCache/

AIAX_VERSION=main
AIAX_DATA_DIR=./aiax-data

HAC_VIA_VERSION=latest
HAC_VIA_KEY_BASE=

HAC_VIA_ARCHIVE_DIR=./hac_via/archive
HAC_VIA_PREVIEW_DIR=./hac_via/preview
HAC_VIA_STAGING_DIR=./hac_via/staging
HAC_VIA_TAPE_DIR=./hac_via/to_tape
