.ar-imagegrid-cell-title {
  background: #ffffff;
  padding: 2px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 36px;
  line-height: 1.2;
}

.ar-imagegrid-cell-link {
  transition: all .3s ease;
}

.ar-imagegrid-cell-link:hover, .ar-imagegrid-cell-link.hover {
  box-shadow: 0 0 10px #777;
  z-index: 500;
  position: absolute;
  text-decoration: none;
}

.ar-imagegrid-cell-link:hover .ar-imagegrid-cell-title, .ar-imagegrid-cell-link.hover .ar-imagegrid-cell-title {
  width: inherit;
  height: auto;
  white-space: normal;
}

.ar-imagegrid-cell-link .label {
  position: absolute;
  left: 5px;
  top: 5px;
  opacity: 0.7;
  white-space: normal;
}

.ar-imagegrid-cell-link:hover .label {
  opacity: 1;
}
