.markdown-editor-button-group {
  margin-bottom: 3px;
}

.markdown-editor-button-group .btn {
  width: 24px;
  height: 24px;
}

.markdown-editor-button-group .btn span {
  text-align: center;
}

.markdown-editor-button-group .heading-button span {
  font-size: 11px;
  margin-left: -2px;
}

.markdown-editor-button-group .heading-button .heading-button-number {
  font-weight: bold;
  margin-left: 0;
}
