<div class="form-group">
    <div class="btn-group btn-group-xs markdown-editor-button-group">
        <button class="btn btn-default" ng-click="formatText('bold')">
            <span class="glyphicon glyphicon-bold"></span>
        </button>
        <button class="btn btn-default" ng-click="formatText('italic')">
            <span class="glyphicon glyphicon-italic"></span>
        </button>
        <button class="btn btn-default heading-button" ng-click="formatText('heading1')">
            <span class="glyphicon glyphicon-header"><span class="heading-button-number">1</span></span>
        </button>
        <button class="btn btn-default heading-button" ng-click="formatText('heading2')">
            <span class="glyphicon glyphicon-header"><span class="heading-button-number">2</span></span>
        </button>
        <button class="btn btn-default heading-button" ng-click="formatText('heading3')">
            <span class="glyphicon glyphicon-header"><span class="heading-button-number">3</span></span>
        </button>
        <button class="btn btn-default" ng-click="formatText('listBullets')">
            <span class="glyphicon glyphicon-list"></span>
        </button>
        <button class="btn btn-default" ng-click="formatText('link')">
            <span class="glyphicon glyphicon-link"></span>
        </button>
    </div>
    <textarea style="resize: vertical;" type="text" class="form-control" ng-model="markdownText" ng-trim="false"
              placeholder="{{placeholder}}" rows="10"></textarea>
</div>
